:root {
    --color-text-main: #1f252d;
    --color-baground-main: #7395AE;
    --color-white: #ffffff;
    --color-text: #5D5C61;
    --color-button: #379683;
    --color-main: #7395AE;
    --color-sub-main: #557A95;
    --color-button-default: #B1A296;
}

.theme-green {
    --color-text: #505160;
    --color: #68829E;
    --color-main: #AEBD38;
    --color-sub-main: #598234;
    --color: #C6D166;
}
