article {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	margin-top: 10px;
	padding: 4px;
	font-size: 16px;
	line-height: 22px;
}

.article__section {
	margin-bottom: 20px;
}

.article__view {
	display: flex;
	flex-direction: column;
	margin-top: 6px;
}

.article__view_button {
	width: fit-content;
}

.article__view figure {
	display: flex;
	justify-content: space-between;
}

.article__view figcaption {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.article__navigations {
	display: flex;
	margin: 10px 0;
}

.article__navigations nav {
	display: flex;
	flex-direction: row-reverse;
	flex: 1 1 auto;
	justify-content: space-between;
}

.article__navigations_button {
	width: fit-content;
}

.article__block, article .article__view p {
	margin: 10px 0;
}

.article__link {
	color: var(--color-link-article);
	text-decoration: underline;
}

.article__link:hover {
	text-decoration: underline;
}

.article__alert {
	display: flex;
	align-items: center;
	background: var(--color-alert-block);
	box-shadow: 2px 4px 7px var(--shadow-code-cli);
	padding: 10px;
	border-radius: 3px;
}

.article__alert_icon {
	flex: 0 0 24px;
	fill: var(--color-alert);
	margin-right: 12px;
}

.article__alert_text {
}
